%h1 User Details

.well
  .row
    .col-xs-12.col-sm-6
      %h3 Email
      %p= user.email

      %h3 Full name
      %p= user.full_name

    .col-xs-12.col-sm-6
      %h3 Member since
      %p= user.member_since

      %h3 Admin
      %p= check_box_tag 'name', 'value', user.admin?, disabled: true

    .col-xs-12
      %h3 Reviews
      = render 'reviews/listing'

= link_to 'Edit', edit_user_registration_path , {class: 'btn btn-primary'}
= link_to 'Back', :back, class: 'btn btn-default'
