%h1 User Details

%div.well
  %h3 Firstname
  %p= user.firstname

  %h3 Lastname
  %p= user.lastname

  %h3 Email
  %p= user.email

  %h3 Member since
  %p= user.member_since

  %h3 Admin
  -#@todo: helper z icona
  %p= user.admin?
  -#@todo: Ad14. rest of user fields, maybe place with avatar
  -#@todo: some iplookup basing on last_sign_in_ip?

  %h3 Reviews
  = render 'reviews/listing'

= link_to 'Edit', edit_user_registration_path , {class: 'btn btn-primary'}
= link_to 'Back', :back, class: 'btn btn-default'
