= simple_form_for category do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

  .form-actions
    = f.button :submit, 'Save'
    = link_to 'Back', categories_path, class: 'btn btn-default'
