%h1 Listing categories

.table-responsive
  %table.table.table-striped
    %tr
      %th Name
      %th.text-center Products count
      %th.action-column
      - if admin? current_user
        %th.action-column
        %th.action-column

    - categories.each do |category|
      %tr
        %td= category.name
        %td.text-center= category.products.size
        %td.text-center
          = link_to category, {class: 'btn btn-link btn-xs'} do
            %span.glyphicon.glyphicon-eye-open
          - if admin? current_user
            %td.text-center
              = link_to edit_category_path(category), {class: 'btn btn-link btn-xs'} do
                %span.glyphicon.glyphicon-edit
            %td.text-center
              = link_to category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link btn-xs' do
                %span.glyphicon.glyphicon-trash
%br

- if admin? current_user
  = link_to 'New Category', new_category_path, {class: 'btn btn-primary'}
