%h1 Category Details

%div.well
  %h3 Name
  %p= category.name

  %h3 Products:
  = render 'products/listing'
  - if user_signed_in?
    = link_to 'New Product', new_category_product_path(category), {class: 'btn btn-primary'}

- if admin? current_user
  = link_to 'Edit', edit_category_path(category), class: 'btn btn-primary'
= link_to 'Back', categories_path, class: 'btn btn-default'
