%h1 Category Details

%p
  %b Name:
  %br= category.name

%p
  %b Products:
  - category.products.each do |product|
    = product.title

- if admin? current_user
  %p
    %h3 New product
    = render 'products/form'

  = link_to 'Edit', edit_category_path(category), class: 'btn btn-primary'
= link_to 'Back', categories_path, class: 'btn btn-default'
