%h1 Product Details

.well
  .row
    .col-xs-12.col-sm-6
      %h3 Title
      %p= product.title

      %h3 Description
      %p= product.description

    .col-xs-12.col-sm-6
      %h3 Price
      %p= product.price

      %h3 Category
      %p= product.category.name

    .col-xs-12
      %h3 Reviews
      = render 'reviews/listing'
      = link_to 'New Review', new_category_product_review_path(category, product), {class: 'btn btn-primary'}

- if product.can_edit? current_user
  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-primary'
= link_to 'Back', category_path(category), class: 'btn btn-default'
