= simple_form_for [category, product, review] do |f|
  = f.error_notification

  .form-inputs
    = f.input :content, as: :text
    = f.input :rating, collection: 1..5

  .form-actions
    = f.button :submit, 'Save'
    = link_to 'Back', :back, class: 'btn btn-default'
