= favicon_link_tag 'favicon.ico', :type => 'image/x-icon'
- %w(57 60 72 76 114 120 144 152 180).each do |s|
  = favicon_link_tag "apple-touch-icon-#{s}x#{s}.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "#{s}x#{s}"

- %w(16 32 96).each do |s|
  = favicon_link_tag "favicon-#{s}x#{s}.png", rel: 'icon', type: 'image/png', sizes: "#{s}x#{s}"
